streamlit
huggingface-hub
sentence-transformers
faiss-cpu
pandas
scikit-learn
langchain
python-dotenv
langchain-openai
nemoguardrails
langgraph
pypdf
pandas
beautifulsoup4
langchain-text-splitters
lxml
langchain_huggingface