huggingface-hub
sentence-transformers>=3.0.0
faiss-cpu>=1.8.0
pandas>=2.2.0
scikit-learn>=1.5.0
langchain
langchain-core==0.3.12
langchain-community==0.3.3
python-dotenv
langchain-openai
nemoguardrails
langgraph
pypdf
pandas
beautifulsoup4
langchain-text-splitters
lxml
langchain_openai
langchain_huggingface